*{
         margin:0;
         padding:0;
         font-family:helvetica;
      }

    body {
        background-color:white;
        margin-top:100px;

      }


    .mainbox {
       width:420px;
       height:530px;
       border:1px solid white;
       background-color:white;
       box-shadow: 0px 5px 8px 3px #aaa;
        padding:15px 10px 8px 5px;
        border-radius:5px;
       }

    .mainbox h2 {
        font-size:24px;
        margin-top:-10px;
        padding:10px 5px;
        font-style:bold;


       }
    .mainbox h4 {
       font-size:14px;
       margin-top:-5px;
       color:grey;

      }

    .details input {

     width:94%;
     margin-top:15px;
     padding:10px 5px;
     color:grey;
     margin-left:4px;
     border:1px solid #aaa;

     }


   .birth-date p {
       font-size:12px;
        margin-left:-328px;
        margin-top:15px;

       }

    .birth-date select {
         font-size:16px;
         margin-top:10px;
         margin-left:3px;
         width:127px;
         border:1px solid #aaa;
         padding:5px 10px;

    }

    .gender p {
       font-size:12px;
       margin-left:-353px;
       margin-top:15px;
       }
    .gender input {
         font-size:16px;
         margin-top:10px;

       }


    .gender input[id=male] {
         margin-left:-10px;
         border:1px solid blue;
         padding:5px 10px;
         width:20px;

      }

    .gender input[id=female] {
        margin-left:50px;
        width:20px;

        }
    .gender input[id=custom] {
        margin-left:50px;
         width:20px;

        }

    .sent p{
        font-size:11px;
        margin-left:12px;
        line-height:13px;
        color:grey;
        margin-top:13px;
        text-align:left;
    }
    .mainbox button {
      background-color:#32CD32;
      font-size:18px;
      color:white;
      width:190px;
      line-height:40px;
      font-weight:bold;
      border-radius:5px;
      border:none;
      margin-top:20px;

    }
    .mainbox button:hover {
      background-color:yellow;
      }

